.heading {
    text-align: center;
    font-family: monospace;
}
.heading-1 {
    font-family: monospace;
}

.para-1 {
    font-size: 12px;
}

.message {
    font-family: monospace;
}

.addr {
    font-family: monospace;
}

.images {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    margin-right: 0;
    margin-left: 45%;
}

.description {
    font-family: monospace;
    text-align: left;
}

.desc {
    margin-left: 0;
    margin-right: 60%;
    border: 1px solid black;
}