.heading {
    text-align: center;
    font-family: monospace;
}
.heading-1 {
    font-family: monospace;
}

.para-1 {
    font-size: 12px;
}

.message {
    font-family: monospace;
}

.addr {
    font-family: monospace;
}